!= partial("_common")



  :markdown
    # Custom Post Types

.col-md-6
  :markdown
    ### Team
    - Name
    - Title / Position
    - Image
    - Bio

    ### Commuinity
    - Name
    - Address
    - mulitple text items (various data)
    - mulitple paragraph items (various data)
    - possible multiple images (info graphics)

    ### Event
    - Date
    - Name
    - Description


.col-md-6
  :markdown
    ### Business Development Opp.
    - Title
    - Featured Image
    - Image gallery
    - File (PDF) upload
    - Contact Form

    ### News
    - Title
    - WSIWYG Editor
    - File (PDF) Upload






