!= partial("_common")



  :markdown
    # Custom Post Types

.col-md-6
  :markdown
    ### Recreation Spot
    - Name
    - Type (Camping, Hiking, Lakes, Resorts, Parks...)
    - Image
    - WYSIWYG Editor
    - Hours of Operation
    - Contact Info
    - PDF Downloads

    ### Accomidations
    - Name
    - Type (Hotel, Rv Park)
    - Image
    - WYSIWYG Editor
    - Hours of Operation
    - Contact Info
    - PDF Downloads


.col-md-6
  :markdown
    ### Community
    - Name
    - Address
    - mulitple text items (various data)
    - mulitple paragraph items (various data)
    - possible multiple images (info graphics)

    ### Event
    - Date
    - Name
    - Description WYSIWYG

    ### News
    - Title
    - WSIWYG Editor
    - File (PDF) Upload






