!= partial("_common")
  :markdown
    # Front End Development
    ## Common Elements
div.col-md-6
  :markdown
    - Header
    - Nav
    - Footer
div.col-md-6
  :markdown
    - Typographic elements (paragrahs, Headers, lists, quotes)
    - input fields
    - inline Images & captions


div.col-md-12
  :markdown
    ---
    ## Layouts
div.col-md-6
  :markdown
    #### Homepage
    - Hero Area (slider)
    - Copy Section
    - CTA Blocks

    #### General Fullwidth
    - about

    #### General w/ Sidebar
    - About the CNO

    #### Team List
    #### Team Single
    #### Tribal Enterprises
    - Atoka

div.col-md-6
  :markdown
    #### Business Development Opps. : List
    #### Business Development Opps. : Single
    #### News
    #### Contact
    - Form
    - Calendar

    #### Sub-Homepage
    - Small Busniess
    - About CSBDS


