!= partial("_common")
  :markdown
    # Misc Functionality
    ## Search Enhancement

    The default search function in WordPress does not search the Custom Post Types / Custom Fields as well as would be desired. We will add functionality to the search for so that more of the data is searchable. The optimum option to achieve this feature is by installing and cofiuguring the WordPress plugin Relavanissi. However, sometimes custom search programming.


    ## Calendar
    The plugin [The Events Calendar](http://tri.be/shop/wordpress-events-calendar/) will be installed to allow adding an easily updatabel calendar to the site. Upcoming events can be listed in multiple places throught the site, in list or calendar form.