!= partial("_common")
  :markdown
    # Interactive Maps

    Each map will be generated using the Google Maps API. This will allow for limited, but detailed styling possibilities

    ## Community Map
    The Community Map Showcases each of the Choctaw communities. Clicking on an area on the Community Profiles page will take to you that community's page. The map on single community page will be the same as the one on the communities' parent page, but zoomed in on that area.


    ## Business Development Oppourtunity Maps

    The main feature of the Business Development Oppourtunity Map will be a Information rich popup. The info in the popup can include:

    - an image
    - Description
    - Link