!= partial("_common")
  :markdown
    # Interactive Maps

    Each map will be generated using the Google Maps API. The administration of the map locations and its Info Window content will be done through Google Fusion Tables. Fusion Tables is a part of Google Docs and cannot be built into the WordPress admin site, instead a link to each Fusion Table will be coded into the WordPress admin dashboard for quick / consolidated access.

    Google Maps API allows for customizable maps, and will be themed to match the site.

    ## Community Map
    The Community Map Showcases each of the Choctaw communities. Clicking on an area on the Community Profiles page will take to you that community's page. The map on single community page will be the same as the one on the communities' parent page, but zoomed in on that area.


    ## Business Development Oppourtunity Maps

    The main feature of the Business Development Oppourtunity Map will be a Information rich popup. The info in the popup can include:

    - an image
    - Description
    - Link