!= partial("_common")
  :markdown
    # Bus Tour Ticket Sales Sytem

    The plugins WooCommerce (free) & [Wootickets](http://tri.be/shop/wordpress-wootickets/) ($65) will be utilized to facilitate ticket sales.

    The number of tickets can be limited per event and a sold out message will disoplay when all the tickets have been purchased. A confirmation email will be sent to the customer after purchase.

    An atendee list will be available per tour for tour managers.